.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: #ececec;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
.Dictionary input {
  width: 45%;
  border-radius: 6px;
  margin: 5px 5px;
  padding: 6px 4px;
  color: #385170;
  border: 2px solid #142d4c;
}
.Dictionary input[type="submit"] {
  margin-left: 20px;
  color: #385170;
  transition: all 150ms ease-in-out;
}

.Dictionary input[type="submit"]:hover {
  background: #b2c7df;
  font-weight: 400;
  color: #ececec;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
